{% extends 'basic.html' %}

{% block content %}
<div class="error-container">
{% if error %}
<div class="error">
    {{ error }}
</div>
<br>
<br>
{% endif %}
<div class="login-container">
    <h1>Login</h1>

    <form method="POST" action="{% url 'home'%}">
        {% csrf_token %}
        Username:
        <br>
        <input name="username" type="text" value="">
        <br>
        Password:
        <br>
        <input name="password" type="password" value="">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Login">
        <a href="{% url 'signup' %}"><button type="button" class="btn btn-dark">회원가입</button></a>
    </form>

</div>
</div>
<style>
    .error{
        color: blue;
        justify-content: center;
        align-items: center;
    }

    .error-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 75vh;
    }

</style>


{% endblock %}