{% extends 'basic.html' %}
{% block content %}


<div class="site-title">
▶ 경북대학교
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="http://www.knu.ac.kr/" style="color: black" class="site-link">http://www.knu.ac.kr/</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">경북대학교 메인 홈페이지</h6>
  </div>
</div>

<div class="site-title">
▶ 통합정보시스템 
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="http://yes.knu.ac.kr" style="color: black" class="site-link">http://yes.knu.ac.kr</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">성적 확인, 기숙사 신청, 휴학 복학 신청 사이트</h6>
  </div>
</div>

<div class="site-title">
▶ 도서관 
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="http://kudos.knu.ac.kr" style="color: black" class="site-link">http://kudos.knu.ac.kr</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">무료 강의, 논문 사이트, 표절 검사 가능 사이트</h6>
  </div>
</div>

<div class="site-title">
▶ 학습관리시스템 
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="http://lms.knu.ac.kr" style="color: black" class="site-link">http://lms.knu.ac.kr</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">온라인, 비대면 수업 및 과제 등의 수업 지원 사이트</h6>
  </div>
</div>

<div class="site-title">
▶ 수업시간표 및 강의계획서 
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="http://sy.knu.ac.kr" style="color: black" class="site-link">http://sy.knu.ac.kr</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">수강 꾸러미, 수강 신청 전 개설된 교과목 확인이 가능한 사이트</h6>
  </div>
</div>

<div class="site-title">
▶ 수강꾸러미  
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="http://sugangpack.knu.ac.kr" style="color: black" class="site-link">http://sugangpack.knu.ac.kr</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">수강꾸러미 신청 사이트</h6>
  </div>
</div>

<div class="site-title">
▶ 수강 신청
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="http://sugang.knu.ac.kr" style="color: black" class="site-link">http://sugang.knu.ac.kr</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">수강신청 사이트</h6>
  </div>
</div>

<div class="site-title">
▶ 생활관 
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href=" https://dorm.knu.ac.kr" style="color: black" class="site-link">https://dorm.knu.ac.kr</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">기숙사 관련 공지사항 안내 사이트</h6>
  </div>
</div>

<div class="site-title">
▶ 인재개발원
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="https://knujob.knu.ac.kr" style="color: black" class="site-link">https://knujob.knu.ac.kr</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">취업관련 세미나, 현장실습 정보 제공 사이트</h6>
  </div>
</div>

<div class="site-title">
▶ SW교육센터 
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="https://swedu.knu.ac.kr/main/" style="color: black" class="site-link">https://swedu.knu.ac.kr/main/</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">SW 관련 정보 및 마일리지 신청 사이트</h6>
  </div>
</div>

<div class="site-title">
▶ IT교육센터 
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="https://knusys9.knu.ac.kr/cedu/comm/support/main" style="color: black" class="site-link">https://knusys9.knu.ac.kr/cedu/comm/support/main</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">교내 IT교육센터의 강좌 신청 사이트</h6>
  </div>
</div>
  

<div class="site-title">
▶ 학생포털
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="http://my.knu.ac.kr" style="color: black" class="site-link">http://my.knu.ac.kr</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">지도교수상담신청, 비교과 활동신청 사이트</h6>
  </div>
</div>

<div class="site-title">
▶ 국제교류처
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="http://gp.knu.ac.kr/" style="color: black" class="site-link">http://gp.knu.ac.kr/</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">교환 학생이랑 해외 교류 프로그램 관련 사이트</h6>
  </div>
</div>

<div class="site-title">
▶ 체육진흥센터 
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="http://sports.knu.ac.kr" style="color: black" class="site-link">http://sports.knu.ac.kr</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">운동 강좌 및 시설 이용 신청 사이트</h6>
  </div>
</div>

<div class="site-title">
▶ 인터넷증명서발급 
</div>
<div class="card card-style">
  <div class="card-body">
    <h2 class="card-title"><a href="http://certp.knu.ac.kr" style="color: black" class="site-link">http://certp.knu.ac.kr</a></h2>
    <h6 class="card-subtitle mb-2 site-explan">성적확인서, 재학증명서 뽑을 수 있는 사이트</h6>
  </div>
</div>



{% if sites %}
{% for site in sites %}
{% if site.writer == user %}
<div class="site-title site-title-test">
▶ {{site.summary_title}}
</div>
<div class="card card-style">
  <div class="site-container">
    <div class="card-body">
      <h2 class="card-title"><a href="{{site.site}}" style="color: black"  class="site-link">{{site.summary}}</a></h2>
        <h6 class="card-subtitle mb-2 site-explan">{{site.summary_explan}}</h6>
    </div>
    <a href="{% url 'delete_site' site.id %}"><button type="button" class="btn btn-dark btn-test btn-delete">삭제</button></a>
  </div>
</div>
{% endif %}
{% endfor %}
{% else %}
<h1>글이 존재하지 않습니다.</h1>  
{% endif %}

<a href="{% url 'new_site' %}"><button type="button" class="btn btn-dark btn-test">추가</button></a>
</div>

<style>
    .card-style{
        margin-top: 0px;
    }

    .card-body{
        padding: 0px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .site-title{
        font-size: 27px;
        margin-top: 10px;
    }

    .site-link{
        font-size: 23px;
    }

    .site-explan{
        font-size: 17px;
        color:rgb(54, 124, 189);
    }

    .site-container {
        display: flex;
        padding-right: 40px;
    }

    .btn-delete{
        margin-top: 20px;
    }
</style>


{% endblock %}